---
import BaseSiteLayout from "../../layouts/BaseSiteLayout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import ServicesBentoSections from "../../components/ServicesBentoSections.astro";
import ca from "../../i18n/ca.json";
---

<BaseSiteLayout lang="ca" title={ca.meta.servicesTitle} description={ca.meta.servicesDescription}>
  <SiteHeader lang="ca" copy={ca.header} />

  <main class="h-[calc(100vh-73px)] snap-y snap-mandatory overflow-y-auto scroll-smooth">
    <ServicesBentoSections lang="ca" copy={ca.services} footerCopy={ca.footer} />
  </main>
</BaseSiteLayout>


