---
import BaseSiteLayout from "../../layouts/BaseSiteLayout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import HomeHeroSection from "../../components/HomeHeroSection.astro";
import HomeProcessSection from "../../components/HomeProcessSection.astro";
import HomeTestimonialsSection from "../../components/HomeTestimonialsSection.astro";
import HomeFaqSection from "../../components/HomeFaqSection.astro";
import HomeNewsletterSection from "../../components/HomeNewsletterSection.astro";
import pt from "../../i18n/pt.json";
---

<BaseSiteLayout lang="pt" title={pt.meta.homeTitle} description={pt.meta.homeDescription}>
  <SiteHeader lang="pt" copy={pt.header} />

  <main>
    <HomeHeroSection lang="pt" copy={pt.home.hero} />
    <HomeProcessSection copy={pt.home.process} />
    <HomeTestimonialsSection copy={pt.home.testimonials} />
    <HomeFaqSection copy={pt.home.faq} />
    <HomeNewsletterSection copy={pt.home.newsletter} />
  </main>

  <SiteFooter lang="pt" copy={pt.footer} />
</BaseSiteLayout>


