---
import BaseSiteLayout from "../../layouts/BaseSiteLayout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import ServicesBentoSections from "../../components/ServicesBentoSections.astro";
import pt from "../../i18n/pt.json";
---

<BaseSiteLayout lang="pt" title={pt.meta.servicesTitle} description={pt.meta.servicesDescription}>
  <SiteHeader lang="pt" copy={pt.header} />

  <main class="h-[calc(100vh-73px)] snap-y snap-mandatory overflow-y-auto scroll-smooth">
    <ServicesBentoSections lang="pt" copy={pt.services} footerCopy={pt.footer} />
  </main>
</BaseSiteLayout>


