---
import BaseSiteLayout from "../../layouts/BaseSiteLayout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import ServicesBentoSections from "../../components/ServicesBentoSections.astro";
import fr from "../../i18n/fr.json";
---

<BaseSiteLayout lang="fr" title={fr.meta.servicesTitle} description={fr.meta.servicesDescription}>
  <SiteHeader lang="fr" copy={fr.header} />

  <main class="h-[calc(100vh-73px)] snap-y snap-mandatory overflow-y-auto scroll-smooth">
    <ServicesBentoSections lang="fr" copy={fr.services} footerCopy={fr.footer} />
  </main>
</BaseSiteLayout>


