---
import BaseSiteLayout from "../../layouts/BaseSiteLayout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import HomeHeroSection from "../../components/HomeHeroSection.astro";
import HomeProcessSection from "../../components/HomeProcessSection.astro";
import HomeTestimonialsSection from "../../components/HomeTestimonialsSection.astro";
import HomeFaqSection from "../../components/HomeFaqSection.astro";
import HomeNewsletterSection from "../../components/HomeNewsletterSection.astro";
import en from "../../i18n/en.json";
---

<BaseSiteLayout lang="en" title={en.meta.homeTitle} description={en.meta.homeDescription}>
  <SiteHeader lang="en" copy={en.header} />

  <main>
    <HomeHeroSection lang="en" copy={en.home.hero} />
    <HomeProcessSection copy={en.home.process} />
    <HomeTestimonialsSection copy={en.home.testimonials} />
    <HomeFaqSection copy={en.home.faq} />
    <HomeNewsletterSection copy={en.home.newsletter} />
  </main>

  <SiteFooter lang="en" copy={en.footer} />
</BaseSiteLayout>

